<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./layout/fragments :: head('大会新規登録', ~{::link}, ~{})">
<link href="/css/championship/create.css?20210118" rel="stylesheet">
</head>
<body>
	<div id="app" class="container-fluid">

        <!-- Sidebar  -->
		<div th:insert="./layout/fragments :: sidebar('championship', 'create')"></div>

        <div id="content">
  			<div th:insert="./layout/fragments :: navbar('大会新規作成')"></div>
  			<div th:insert="./layout/fragments :: championshipForm"></div>

			<div class="submit-fotter">
				<button type="button" @click="submit" class="btn btn-app"><i class="fas fa-save"></i> 登録</button>
			</div>
		</div>
		<div th:insert="./layout/fragments :: modalUpdating"></div>
	</div>
	<script src="https://unpkg.com/vuejs-paginate@2.1.0"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script type="text/javascript" src="/js/championship/create.js?20210119"></script>
</body>
</html>