<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.OwnBrawlerMapper">

	<!-- 同じ組み合わせのレコードが存在しない場合のみレコード作成 -->
	<insert id="create" parameterType="com.example.demo.entity.OwnBrawlerEntity">
		INSERT INTO own_brawler (
			player_tag,
			brawler_id,
			`rank`,
			trophies,
			highest_trophies,
			power
		)
		SELECT
			#{playerTag, jdbcType=VARCHAR},
			#{brawlerId, jdbcType=INTEGER},
			#{rank, jdbcType=INTEGER},
			#{trophies, jdbcType=INTEGER},
			#{highestTrophies, jdbcType=INTEGER},
			#{power, jdbcType=INTEGER}
		FROM
			dual
		WHERE NOT EXISTS (
			SELECT
				player_tag
			FROM
				own_brawler
			WHERE
				player_tag = #{playerTag, jdbcType=VARCHAR}
			AND
				brawler_id = #{brawlerId, jdbcType=INTEGER}
		)
	</insert>

	<select id="search" resultType="string" parameterType="string">
		SELECT
			brawler_id
		FROM
			own_brawler
		WHERE
			player_tag = #{playerTag, jdbcType=VARCHAR}
	</select>

	<select id="getOffsetForMedian" resultType="com.example.demo.controller.dto.OffsetForMedianDto" parameterType="string">
		SELECT
			b.type,
			FLOOR( COUNT(*) / 2) AS offset_num
		FROM
			own_brawler AS o
		INNER JOIN
			brawler_master AS b
		ON
			o.brawler_id = b.id
		WHERE
			player_tag = #{playerTag, jdbcType=VARCHAR}
		GROUP BY
			b.type
	</select>

	<select id="getSingleMedian" resultType="int" parameterType="com.example.demo.entity.TrophyMedianEntity">
		SELECT
			o.highest_trophies AS median
		FROM
			own_brawler AS o
		INNER JOIN
			brawler_master AS b
		ON
			o.brawler_id = b.id
		WHERE
			o.player_tag = #{playerTag, jdbcType=VARCHAR}
			AND b.type = #{type, jdbcType=VARCHAR}
		ORDER BY
			highest_trophies LIMIT 1 OFFSET #{offset, jdbcType=INTEGER}
	</select>

	<select id="getEntireMedian" resultType="int" parameterType="com.example.demo.entity.TrophyMedianEntity">
		SELECT
			o.highest_trophies AS median
		FROM
			own_brawler AS o
		WHERE
			o.player_tag = #{playerTag, jdbcType=VARCHAR}
		ORDER BY
			highest_trophies LIMIT 1 OFFSET #{offset, jdbcType=INTEGER}
	</select>
</mapper>

